@import '~antd/dist/antd.less';

.App {
    display: flex;
    flex-direction: column;
}

.App .Container {
    padding: 10px;
}

.CoordinateSystemContainer {
    display: flex;
    flex-direction: row;
}

.SliderContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}