.RangeInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    background-color: azure;
    width: 240px;
}

.RangeInput label {
    width: 30%
}

.RangeInput span {
}

.RangeInput input {
}