.PrimeBoxItem {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1px;
    //width: 15px;
    //height: 15px;
    border: 1px solid dimgrey;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
}